body{
  font-family:Arial,sans-serif;
  background-color:#f4f4f4;
  text-align:center;
}
h1{
  color:blue;
}
h2{
  color:darkgreen;
}
p{
  font-size:18px;
}
img{
  width:150px;
  border-radius:50%;
  margin-top:20px;
}
body{
  background:linear-gradient(to right,#74ebd5,#ACB6E5);
}
